@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Welcome
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Welcome</li>
        </ol>
    </section>

    <section class="content">
    <!-- Application buttons -->
    <div class="row">
        <div class="col-sm-3 col-lg-9 col-xs-6">

            <div class="box-body">

                <a class="btn btn-app">
                    <i class="fa fa-list-ul"></i> Categories
                </a>
                <a class="btn btn-app">
                    <i class="fa fa-cubes"></i> Products
                </a>
                <a href="@Url.Action("Create", "Customers")" class="btn btn-app" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-users"></i> Customers
                </a>
                <a class="btn btn-app">
                    <i class="fa fa-truck"></i> Suppliers
                </a>
                <a class="btn btn-app">
                    <i class="fa  fa-gears"></i> Configuration
                </a>

            </div>
            <br/><br/>
            <!-- /.box-body -->
            <!-- Small boxes (Stat box) -->

            <div class="col-sm-4 col-lg-4 col-xs-6">
                <!-- small box -->
                <a href="~/Home/Sales">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Sales</h3>
                            <p><br /></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-social-usd"></i>
                        </div>
                     </div>
                </a>
                
            </div>
            <!-- ./col -->
            <div class="col-sm-4 col-lg-4 col-xs-6">
                <!-- small box -->
                <a href="~/Home/Purchase">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>Purchases</h3>
                            <p><br /></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-cart"></i>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->
            <div class="col-sm-4 col-lg-4 col-xs-6">
                <!-- small box -->
                <a href="~/Home/Stock">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>Stock</h3>
                            <p><br /></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-arrow-graph-up-right"></i>

                        </div>
                    </div>
                    </a>
             </div>

            <div class="col-sm-4 col-lg-4 col-xs-6">
                <!-- small box -->
                <a href="~/Home/Accounts">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Payments</h3>
                            <p><br /></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-folder"></i>
                        </div>

                    </div>
                    </a>
                </div>
            <!-- ./col -->
            <div class="col-sm-4 col-lg-4 col-xs-6">
                <!-- small box -->
                <a href="~/Home/HumanResource">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>Human <br /> Resources</h3>

                        </div>
                        <div class="icon">
                            <i class="ion ion-android-contacts"></i>
                        </div>

                    </div>
                    </a>
             </div>
            <!-- ./col -->
            <div class="col-sm-4 col-lg-4 col-xs-6">
                <a href="~/Home/Reports">
                    <!-- small box -->

                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>Reports</h3>
                            <p><br /></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-paper"></i>
                        </div>

                    </div>
                </a>
            </div>

        </div>

        <div class="col-sm-4 col-lg-3 col-xs-3">
            <!-- Calendar -->
            <div class="box box-solid bg-green-gradient">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">Calendar</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <!-- button with a dropdown -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Add new event</a></li>
                                <li><a href="#">Clear events</a></li>
                                <li class="divider"></li>
                                <li><a href="#">View calendar</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%"></div>
                </div>
                <!-- /.box-body -->

            </div>
        </div>
    </div>
    <!-- /.box -->
    </section>

