
@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Payments
        <small>Main Catagorise</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Payments</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <a href="#">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>Customer <br/>Payment</h3>
                        
                    </div>
                    <div class="icon">
                        <i class="ion ion-folder"></i>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <a href="#">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>Vendor <br/>Payment</h3>
                        
                    </div>
                    <div class="icon">
                        <i class="ion ion-folder"></i>
                    </div>
                </div>
            </a>

        </div>
     
    </div>


</section>

