
@{
    ViewBag.Title = "PaymentMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Payments Methods
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><a href="#">Payments Method</a></li>
    </ol>
</section>

<section class="content">
    <form class="form-horizontal">
        <div class="form-group">
                <div class="col-md-3">
                <div class="input-group date">
                    <input type="text" class="form-control pull-right" name="date" id="date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs (Pulled to the right) -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Cash</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Cheque</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Credit Card</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">

                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Input</label>
                                        <div class="input-group col-sm-10">
                                            <input type="text" class="form-control" id="input">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Amount</label>
                                        <div class="input-group col-sm-10">
                                            <input type="text" class="form-control" id="amount">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success pull-right" id="confirm-purchase">Confirm</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">

                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Bank</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Bank">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Branch</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Branch">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Cheque No</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="ChequeNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Amount</label>
                                        <div class="input-group col-sm-10">
                                            <input type="text" class="form-control" id="amount2">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success pull-right" id="confirm-purchase">Confirm</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">

                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Owner</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Owner">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">CVV</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CVV">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Card Number</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CardNumber">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Expiration Date</label>
                                        <div class="col-sm-10">
                                            <select>
                                                <option value="01">January</option>
                                                <option value="02">February </option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                            <select>
                                                <option value="16"> 2016</option>
                                                <option value="17"> 2017</option>
                                                <option value="18"> 2018</option>
                                                <option value="19"> 2019</option>
                                                <option value="20"> 2020</option>
                                                <option value="21"> 2021</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <img src="~/img/cards.jpg">
                                    <button type="submit" class="btn btn-success pull-right" id="confirm-purchase">Confirm</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>



                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
        </div>
</section>
    <!-- /.row -->
    <!-- END CUSTOM TABS -->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script>
    //Date picker
    $('#date').datepicker({
        autoclose: true
    });
</script>